.img_galery{
    width: 50vh;
    height: auto;
}
/*
#saqualupa-nowledge {
  width: 600px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 2px solid #003C72;
}

#nomosubus-inesledge {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

#nomosubus-inesledge li {
  padding: 0;
  margin: 0;
  float: left;
  clear: both;
}

#nomosubus-inesledge li a img {
  display: block;
  border: none;
}

#nomosubus-inesledge li a {
  display: block;
}

#grokanducsim-provemen {
  width: 500px;
  height: 375px;
  overflow: hidden;
  float: left;
}
*/